* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9a6a6;
}

.container {
  position: relative;   
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 500px;
}


.container .tenor-gif-embed {
  max-width: 200px;
}

.tenor-gif-embed iframe {
  pointer-events: none;
}

.btn {
  display: flex;
  gap: 25px;
  margin-top: 10px;
  position: relative;
  z-index: 999;
}


.btn {
  display: flex;
  gap: 25px;
  position: relative;
  z-index: 10;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 10px 25px;
  border-radius: 66px;
  box-shadow: 0.5rem 1rem 3rem rgba(0,0,0,0.3);
}
